header {
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px ;
  align-items: center;
  background-color: #482b7b;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  padding: 4px;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: #FFF;
}

.links-header a {
  margin-left: 10px;
}

.logo {
  font-size: 1.8rem;
  color: #FFF;
}
